<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel_Runner_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7370d0">  <td>24/03/03 06:32:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TestCase.execute()[pri:0, instance:Test_Package.Delete_TestCase@e3b3b2f]">execute</td> 
  <td>TestNG-tests-1@1784131088</td>   <td></td> </tr>
<tr bgcolor="976a65">  <td>24/03/03 06:32:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestCase.execute()[pri:0, instance:Test_Package.Get_TestCase@4b2c5e02]">execute</td> 
  <td>TestNG-tests-2@1309129055</td>   <td></td> </tr>
<tr bgcolor="bc828e">  <td>24/03/03 06:32:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestCase.execute()[pri:0, instance:Test_Package.Patch_TestCase@2dc9b0f5]">execute</td> 
  <td>TestNG-tests-3@2143582219</td>   <td></td> </tr>
<tr bgcolor="dc75b1">  <td>24/03/03 06:32:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestCase_1.execute()[pri:0, instance:Test_Package.Post_TestCase_1@1890516e]">execute</td> 
  <td>TestNG-tests-4@1221027335</td>   <td></td> </tr>
<tr bgcolor="adfd8d">  <td>24/03/03 06:32:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestCase_2.execute()[pri:0, instance:Test_Package.Post_TestCase_2@3336e6b6]">execute</td> 
  <td>TestNG-tests-5@528591360</td>   <td></td> </tr>
<tr bgcolor="9187b0">  <td>24/03/03 06:32:41</td>   <td>3095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestCase.execute()[pri:0, instance:Test_Package.Put_TestCase@2663e964]">execute</td> 
  <td>TestNG-tests-1@1784131088</td>   <td></td> </tr>
</table>
