<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7370d0">  <td>24/03/07 12:35:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Data_Provider_Same_Class.validator(java.lang.String,java.lang.String)[pri:0, instance:Test_Package.TestNG_Data_Provider_Same_Class@81d9a72]">validator</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="7370d0">  <td>24/03/07 12:35:02</td>   <td>-1766</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Data_Provider_Same_Class.testSetUp()[pri:0, instance:Test_Package.TestNG_Data_Provider_Same_Class@81d9a72]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="7370d0">  <td>24/03/07 12:35:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Data_Provider_Same_Class.validator(java.lang.String,java.lang.String)[pri:0, instance:Test_Package.TestNG_Data_Provider_Same_Class@81d9a72]">validator</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="7370d0">  <td>24/03/07 12:35:03</td>   <td>24</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Data_Provider_Same_Class.evidenceCreator()[pri:0, instance:Test_Package.TestNG_Data_Provider_Same_Class@81d9a72]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
</table>
