<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Annotations_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afafb3">  <td>24/03/08 15:17:08</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Data_Provider_Same_Class.evidenceCreator()[pri:0, instance:Test_Package_Annotations.TestNG_Data_Provider_Same_Class@19b843ba]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="afafb3">  <td>24/03/08 15:17:05</td>   <td>-2478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Data_Provider_Same_Class.validator(java.lang.String,java.lang.String)[pri:0, instance:Test_Package_Annotations.TestNG_Data_Provider_Same_Class@19b843ba]">validator</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="d56062">  <td>24/03/08 15:17:07</td>   <td>-751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Data_Provider_Diff_Class.validator(java.lang.String,java.lang.String)[pri:0, instance:Test_Package_Annotations.TestNG_Data_Provider_Diff_Class@64ec96c6]">validator</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="d56062">  <td>24/03/08 15:17:07</td>   <td>-751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Data_Provider_Diff_Class.validator(java.lang.String,java.lang.String)[pri:0, instance:Test_Package_Annotations.TestNG_Data_Provider_Diff_Class@64ec96c6]">validator</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="9defed">  <td>24/03/08 15:17:08</td>   <td>-2</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Annotations.evidenceCreator()[pri:0, instance:Test_Package_Annotations.TestNG_Annotations@389b0789]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="9defed">  <td>24/03/08 15:17:01</td>   <td>-6313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Annotations.validator()[pri:0, instance:Test_Package_Annotations.TestNG_Annotations@389b0789]">validator</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="afafb3">  <td>24/03/08 15:17:05</td>   <td>-2478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Data_Provider_Same_Class.validator(java.lang.String,java.lang.String)[pri:0, instance:Test_Package_Annotations.TestNG_Data_Provider_Same_Class@19b843ba]">validator</td> 
  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="afafb3">  <td>24/03/08 15:17:01</td>   <td>-6341</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Data_Provider_Same_Class.Testsetup()[pri:0, instance:Test_Package_Annotations.TestNG_Data_Provider_Same_Class@19b843ba]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="d56062">  <td>24/03/08 15:17:08</td>   <td>-1</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Data_Provider_Diff_Class.evidenceCreator()[pri:0, instance:Test_Package_Annotations.TestNG_Data_Provider_Diff_Class@64ec96c6]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="9defed">  <td>24/03/08 15:17:01</td>   <td>-6985</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Annotations.testsetup()[pri:0, instance:Test_Package_Annotations.TestNG_Annotations@389b0789]">&gt;&gt;testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="d56062">  <td>24/03/08 15:17:01</td>   <td>-6341</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Data_Provider_Diff_Class.Testsetup()[pri:0, instance:Test_Package_Annotations.TestNG_Data_Provider_Diff_Class@64ec96c6]">&gt;&gt;Testsetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
</table>
